#calheader{		
	padding-left: calc(40% - 300px);
	padding-right: calc(40% - 300px);
}

.calendar{	
	padding-top: 1em;	
	padding-left: calc(40% - 300px);
	padding-right: calc(40% - 300px);
	height: calc(600px + 20%);
    overflow: hidden;
}

