
*.gen

*.zip

*.version

*.tree

*.prefs

*.xml

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

*.xmi

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

*.index

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.resources

*.log

*.dat

*.ini
