<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>GSD Marin Index Page</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="clearfix">
				<h1>GSD Marin Database</h1>
				<nav>
					<a href="http://tympanus.net/Blueprints/FullWidthImageSlider/" class="icon-arrow-left" data-info="Previous Page">Previous Blueprint</a>
					<a href="http://tympanus.net/codrops/?p=14426" class="icon-drop" data-info="Logout">back to the Codrops article</a>
				</nav>
			</header>	
			<div class="main">
				<nav id="cbp-hrmenu" class="cbp-hrmenu">
					<ul>
						<li>
							<a href="building.html">Ship Building</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner">
									<div>
										<h4><a href="#">New Ships</a></h4>
									</div>
									<div>
										<h4><a href="#">Completed Ships</a></h4>
									</div>
								</div>
							</div>									
						</li>
						<li>
							<a href="management.html">Management</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner">
									<div>
										<h4><a href="#">Technic</a></h4>
										<ul>
											<li><a href="#">Events &amp; Followup</a></li>
											<li><a href="#">Guarantee Claims</a></li>
											<li><a href="#">Monthend Report</a></li>
											<li><a href="#">Weekly Work Done Report</a></li>
											<li><a href="#">VIR-Vessel Inspection Report</a></li>
											<li><a href="#">Voyage Summary</a></li>
											<li><a href="#">Regular Followup List</a></li>
											<li><a href="#">Other Documents</a></li>
										</ul>
									</div>
									<div>
										<h4><a href="#">Other</a></h4>
										<ul>
											<li><a href="#">SHEQ</a></li>
											<li><a href="#">Operation</a></li>
											<li><a href="#">Chartering</a></li>
											<li><a href="#">Crewing</a></li>
											<li><a href="#">Purchasing</a></li>
											<li><a href="#">Accounting</a></li>
										</ul>
									</div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
						<li>
							<a href="calendar.html">Calendar</a>
						</li>
						<li>
							<a href="reports.html">Reports</a>
						</li>
						<li>
							<a href="#">Links</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
										<h4><a href="#">ABS</a></h4>
										<ul>
										    <li><a href="http://www.eagle.org">Home</a></li>
											<li><a href="http://ww2.eagle.org/en/rules-and-

resources/regulatory-news.html">Regulatory News</a></li>
											<li><a href="http://ww2.eagle.org">My Eagle</a></li>
										</ul>
										<h4><a href="#">ClassNK</a></h4>
										<ul>
											<li><a href="http://www.classnk.or.jp">Home</a></li>
											<li><a href="https://www.classnk.or.jp/account/en/Rules_Guidance/ssl/login.aspx">Rules &amp; Guidance</a></li>
										</ul>
									</div>
									<div>
										<h4><a href="#">Other</a></h4>
										<ul>
											<li><a href="http://www.dnvgl.com">DNV&amp;GL</a></li>
											<li><a href="http://www.space-marine.com/pricelist/index.cfm">IMPA &amp; Space Marine</a></li>
											<li><a href="http://www.wilhelmsen.com/services/maritime/companies/buss/Pages/buss.as

px">Wilhelmsen Ship Service</a></li>
										</ul>
									</div>
									<div>
										<h4><a href="#">Other Links</a></h4>
										<ul>
											<li><a href="https://maps.google.com/maps">Google Maps</a></li>
											<li><a href="http://www.timeanddate.com/worldclock/">World Time</a></li>
											<li><a href="http://passageweather.com/">Local Weather</a></li>
											<li><a href="http://www.gsdmarin.com.tr">GSD Marin Home</a></li>
											<li><a href="http://www.marinetraffic.com">Marine Traffic</a></li>
											<li><a href="http://www.imo.org">IMO Home</a></li>
										</ul>
									</div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/cbpHorizontalMenu.js"></script>
		<script>
			$(function() {
				cbpHorizontalMenu.init();
			});
		</script>
	</body>
</html>
