<!DOCTYPE html>
<head>
  <title>GSD Marin - Management</title>
</head>
<body>
  <h1 id="top"> Management </h1>
  <h2> <a href="management/technic.html">Technics</a></h2>
  <h2> <a href="management/sheq.html">SHEQ</a></h2>
  <h2> <a href="management/operation.html">Operation</a></h2>
  <h2> <a href="management/chartering.html">Chartering</a></h2>
  <h2> <a href="management/crewing.html">Crewing</a></h2>
  <h2> <a href="management/purchasing.html">Purchasing</a></h2>
  <h2> <a href="management/accounting.html">Accounting</a></h2> 
</body>
