<HTML>
    <HEAD>
        <TITLE>
            Login</TITLE>
        <script>
            <!--
            function login() {
                document.signinForm.action="https://www.eagle.org/security/GatewayLogin";
                document.signinForm.submit();
            }
            </script>
    </HEAD>
    <BODY onLoad="login()">
        <FORM NAME="signinForm" METHOD="POST">
            <INPUT TYPE="hidden" NAME="username" VALUE="GSDMarin">
                <INPUT TYPE="hidden" NAME="password" VALUE="sn183082">
        </FORM>
    </BODY>
</HTML>